header{

}
body{
    background-image: url("for_Poligon.jpg");
}
.accent-text {
  color: #ef1863;
  
  font-weight: bold;
  font-size:x-large;
  margin-left: 80px;
  margin-top: 10px;
  
  
}
.accent-text1 {
  color: #ef1863;
  
  font-weight: bold;
  font-size:x-large;
  margin-left: 80px;
  margin-top: 50px;
  border-radius: 40px 20px 180px;
  
 
}

  
 

.accent-text3 {
  color: #ef1863;
  
  font-weight: bold;
  font-size:30px;
  margin-left: 300px;
  top: 50px;
  
 
}
.submit{
  width:200px;
  height:55px;
  border: 3px solid #ef1863;
  color:rgb(208, 211, 204);
  background-color: rgba(28,28,28,0); 
  border-top-right-radius: 90px;
   border-bottom-left-radius: 80px;

  
  font-size:20px;
  filter:drop-shadow(4px 4px 0px #37010c);

  cursor: pointer;
  position: absolute; /* Абсолютное позиционирование */
    top: 130px; /* Положение от нижнего края */
    right: 40px; /* Положение от правого края */
    
}
.res{
  
  position: absolute; /* Абсолютное позиционирование */
    top: 138px; /* Положение от нижнего края */
    right: 310px;
}
.submit1{
  width:200px;
  height:55px;
  border: 3px solid #ef1863;
  color:rgb(7, 12, 0);
  background-color: #ef1863;
  font-family:"Major Mono Display",monospace;
  font-size:20px;
  filter:drop-shadow(5px 5px 0px #37010c);
  cursor: pointer;
  border-top-right-radius: 90px;
   border-bottom-left-radius: 80px;
  position: absolute; /* Абсолютное позиционирование */
    top: 260px; /* Положение от нижнего края */
    right: 40px; /* Положение от правого края */
    
}
.submit:active{
  
  position: absolute; 
    top: 130px;
    right: 35px;
  filter:drop-shadow(0px 0px 0px #37010c);
  background-color: #ef1863;

}
.submit1:active{
  
  position: absolute; 
    top: 260px;
    right: 35px;
  filter:drop-shadow(0px 0px 0px #37010c);
  background-color: #ef1863;

}